.text-S10 {
  font-size: 10px;
}
.text-S12 {
  font-size: 12px;
}
.text-S18 {
  font-size: 18px;
}
.text-S20 {
  font-size: 20px;
}
.text-W500 {
  font-weight: 500;
}
.text-W400 {
  font-weight: 400;
}
